<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<style>
		table,
		th,
		td {
			border: 1px solid black;
		}

		.accordion {
			background-color: rgb(190, 190, 190);
			color: rgb(170, 170, 170);
			cursor: pointer;

			width: 100%;
			border: none;
			text-align: left;
			outline: none;
			font-size: 15px;
			transition: 0.4s;
			margin-top: 6px;
		}

		.active,
		.accordion:hover {
			background-color: gray;
		}

		.panel {
			padding: 0 18px;
			display: none;
			background-color: rgb(240, 240, 240);
			overflow: hidden;
		}

		.panel>p {
			font-weight: bold;
		}
	</style>
	<title>Generic - Road Trip by TEMPLATED</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body class="subpage">

	<!-- Header -->
	<header id="header" class="alt">
		<div class="logo"><a href="index.html">Road Trip <span>by TEMPLATED</span></a></div>
		<a href="#menu"><span>Menu</span></a>
	</header>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="home.html">Home</a></li>
			<li><a href="inform.html">Generic</a></li>
			<li><a href="FAQ.html">Elements</a></li>
			<li><a href="certication.html">certification</a></li>
		</ul>
	</nav>

	<!-- Content -->
	<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
	<section id="post" class="wrapper bg-img" data-bg="BB.jpg">
		<div class="inner">
			<article class="box">
				<h2>Frequently Asked Questions</h2>
				<button class="accordion">재직자 전형이란 무엇인가요?</button>
				<div class="panel">
					<p>재직자 전형이란 졸업 후 산업체에서 3년 이상의 근무 시 대학에 갈 수 있는 자격이 주어지는 특별전형으로 특성화고, 마이스터고에 졸업하고 대학에 가지않고 바로 취업을 한
						학생들의 꾸준한 학업능력향상을 위해 만들어졌습니다. 실제로 1기 학생들을 기준으로 65%이상이 재직자 전형으로 대학에 진학을 할 예정이라고 합니다.</p>
				</div>

				<button class="accordion">취업하면 언제부터 현장실습을 갈 수 있나요?</button>
				<div class="panel">
					<p>취업을 하게 되면 8월 1일부터 교육형 현장실습을 갈 수 있습니다. 이는 회사의 재량에 따라 다르며, 현장실습기간에는 의무적으로 교육을 일정 비율 이상 받아야합니다. 급여는
						간단한 교통비, 식대등을 지원 받을 수 있습니다.</p>
				</div>

				<button class="accordion">MOU기업은 어디에서 볼 수 있나요?</button>
				<div class="panel">
					<p>학교에서 체결한 MOU기업에 대한 정보는 학교홈페이지, 취업진로부를 통해서 얻을 수 있습니다. 또한 행정실 앞에서 MOU기업 목록을 확인 하실 수 있습니다. 매달
						취업진로부에서 여러기업들에 대하여 MOU를 체결하고자 노력하고있으니, 지속적으로 확인 해보시길 바랍니다.</p>
				</div>

				<button class="accordion">1기 학생들의 취업률은 얼마나 되나요?</button>
				<div class="panel">
					<p>2020년도 졸업한 1기 학생들은 졸업 당시 기준으로 94%의 높은 취업률을 보였으며, 공기업은 5명, 중견기업은 7명이었습니다. 또한, 당시 취업을 하지 않았던 학생들도
						후에 재수를 통하여 마이다스 아이티, 한국전력등 좋은 기업에 취업하였습니다.</p>
				</div>

				<button class="accordion">해외로 취업하려면 어떻게 하죠?</button>
				<div class="panel">
					<p>우선 당연히 그 해당 나라의 언어를 잘 해야합니다. 현지인과 자유롭게 의사소통을 할 수 있는 언어능력은 필수이며, 전공능력 또한 중요합니다. 워킹홀리데이 제도를 통해 1년 간
						일을하며, 여행을 다녀보며 경험을 해보는 것도 좋다고 생각합니다. 실리콘벨리로 취업하기 위해선 경력과 전공실력이 매우 중요합니다.</p>
				</div>
			</article>
		</div>
	</section>
	<script>
		var acc = document.getElementsByClassName("accordion");
		var i;

		for (i = 0; i < acc.length; i++) {
			acc[i].addEventListener("click", function () {
				this.classList.toggle("active");
				var panel = this.nextElementSibling;
				if (panel.style.display === "block") {
					panel.style.display = "none";
				} else {
					panel.style.display = "block";
				}
			});
		}
	</script>

	<!-- Scripts -->
	<script src="./assets/js/jquery.min.js"></script>
	<script src="./assets/js/jquery.scrolly.min.js"></script>
	<script src="./assets/js/jquery.scrollex.min.js"></script>
	<script src="./assets/js/skel.min.js"></script>
	<script src="./assets/js/util.js"></script>
	<script src="./assets/js/main.js"></script>

</body>

</html>