<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>Generic - Road Trip by TEMPLATED</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="assets/css/hover.css" />
	<link rel="stylesheet" href="assets/css/pop-up.css" />
</head>

<body class="subpage">

	<!-- Header -->
	<header id="header" class="alt">
		<div class="logo"><a href="home.html">Road Trip <span>by TEMPLATED</span></a></div>
		<a href="#menu"><span>Menu</span></a>
	</header>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="home.html">Home</a></li>
			<li><a href="inform.html">Generic</a></li>
			<li><a href="FAQ.html">Elements</a></li>
			<li><a href="certication.html">certification</a></li>
		</ul>
	</nav>

	<!-- Content -->
	<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->

	<section id="post" class="wrapper bg-img" data-bg="banner2.jpg">
		<div class="inner">
			<!-- <article class="box"> -->
			<header>
				<div class="dropdown">
					<button class="dropbtn">직종</button>
					<div class="dropdown-content">
						<a href="#">게임</a>
						<a href="#">웹 개발</a>
						<a href="#">응용프로그램 개발</a>
						<a href="#">서버 네트워크 보안</a>
						<a href="#">웹마스터 QA 테스터</a>
						<a href="#">인공지능 및 빅데이터</a>
					</div>
				</div>
				<div class="img-wrapper img1">
					<img src="images/Midas.png" />
					<div class="darkness"></div>
					<div class="btn-plus"><span draggable="false">마이다스 아이티</span></div>
				</div>
				<div class="img-wrapper img2">
					<img src="unknown.png" />
					<div class="darkness"></div>
					<div class="btn-plus"><span draggable="false">+</span></div>
				</div>
				<div class="img-wrapper img3">
					<img src="unknown.png" />
					<div class="darkness"></div>
					<div class="btn-plus"><span draggable="false">+</span></div>
				</div>
				<div class="img-wrapper img4">
					<img src="unknown.png" />
					<div class="darkness"></div>
					<div class="btn-plus"><span draggable="false">+</span></div>
				</div>
			</header>

		</div>
		<br>

	</section>
	<div style="height: 300px;"></div>
	<a href="#layer1" class="btn-example">일반 팝업레이어</a>
	<div id="layer1" class="pop-layer">
		<div class="pop-container">
			<div class="pop-conts">
				<!--content //-->
				<p class="ctxt mb20">Thank you.<br>
					Your registration was submitted successfully.<br>
					Selected invitees will be notified by e-mail on JANUARY 24th.<br><br>
					Hope to see you soon!
				</p>

				<div class="btn-r">
					<a href="#" class="btn-layerClose">Close</a>
				</div>
				<!--// content-->
			</div>
		</div>
	</div>
	<br /><br />
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>